
/*iphone 5/5s/5se */
@media screen and (max-width:569px){
    html{
        font-size: 60px;
    }
}
/*iphone 6/7/8 */
@media screen and (min-width:569px) and (max-width:668px){
    html{
        font-size: 80px;
    }
}
/*iphone 6p/7p/8p */
@media screen and (min-width:668px) and (max-width:737px){
    html{
        font-size: 90px;
    }
}
/*iphone x */
@media screen and (min-width:737px) and (max-width:813px){
    html{
        font-size: 100px;
    }
}
/*ipad*/
@media screen and (min-width:813px) and (max-width:1025px){
    html{
        font-size: 110px;
    }
}
/*ipad pro*/
@media screen and (min-width:1024px){
    html{
        font-size: 120px;
    }
}